{%load icons%}
{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" />

  <script src="{% static 'main.js' %}"></script>
    <title>Day Codes!</title>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style=background-color:#293352;>
      <div class="container-fluid ">
      <a class="navbar-brand" href="#">DayCodes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myToggle"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myToggle">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            {%if user.is_authenticated%}
            <a class="nav-link" href="{%url 'business:home'%}">Home
            </a>
            {%else%}
            <a class="nav-link" href="{%url 'business:welcome'%}">Home</a>
            {%endif%}
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {%if user.is_authenticated%}
   <li class="nav-item">
     <a class="nav-link text-white">1
       <i class="fa fa-envelope fa-lg" style=color:lavender;></i>
     </a>
   </li>
   <li class="nav-item dropdown">
     <a class="nav-link" id="RightDropDownMenu" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
       <i class="fa fa-user-circle-o fa-lg" style=color:lavender; aria-hidden="true"></i>
     </a>
     <div class="dropdown-menu dropdown-menu-lg-right text-white"
       aria-labelledby="RightDropDownMenu" style=background-color:pink;>
       {%if user.is_supplier and user.is_authenticated%}
       <a class="dropdown-item" href="{%url 'accounts:profile'%}">Profile</a>
       <a class="dropdown-item" href="{%url 'accounts:logout'%}">Logout</a>
       {%elif user.is_customer and user.is_authenticated %}
       <a class="dropdown-item" href="{%url 'accounts:profilecus'%}">Profile</a>
       <a class="dropdown-item" href="#">DashBoard</a>
       <a class="dropdown-item" href="{%url 'accounts:logout'%}">Logout</a>
       {%else%}
       <a class="dropdown-item" href="{%url 'accounts:login'%}">Login</a>
         {%endif%}
     </div>
   </li>
   {%else%}
   <li class="nav-item dropdown">
     <a class="nav-link" id="RightDropDownMenu" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
         <i class="fa fa-user-circle-o fa-lg" style=color:lavender;></i>
     </a>
     <div class="dropdown-menu dropdown-menu-lg-right text-white" style=background-color:pink; aria-labelledby='SignupDropdown'>
       <a class="dropdown-item" href="{%url 'accounts:login'%}">Login</a>
       <a class="dropdown-item" href="{%url 'accounts:customer'%}">Customer Signup</a>
       <a class="dropdown-item" href="{%url 'accounts:supplier'%}">Supplier Signup</a>

     </div>
   </li>
   {%endif%}
 </ul>
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
    </nav>



  </head>
  <body>
    <div class="mycontent m-2">
    {%block content%}

    {%endblock%}
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
